In [8]:
# import numpy as np
import pandas as pd
from plotly import express as px

In [9]:
print('Hola mundo soy Diego Garcia')

Hola mundo soy Diego Garcia

In [10]:
x = 3
y = 8

print(x+y)

11

In [11]:
print(f'Hola mundo, aquí la x vale {x} y la y vale {y}, por lo que la suma es {x+y}')

Hola mundo, aquí la x vale 3 y la y vale 8, por lo que la suma es 11

In [12]:
name = input('Por favor indicame tu nombre:')
print(f'Tu nombre es: {name}')

Tu nombre es: Diego Chew

In [13]:
data = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv')
print(data)

    species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen            39.1           18.7              181.0
1    Adelie  Torgersen            39.5           17.4              186.0
2    Adelie  Torgersen            40.3           18.0              195.0
3    Adelie  Torgersen             NaN            NaN                NaN
4    Adelie  Torgersen            36.7           19.3              193.0
..      ...        ...             ...            ...                ...
339  Gentoo     Biscoe             NaN            NaN                NaN
340  Gentoo     Biscoe            46.8           14.3              215.0
341  Gentoo     Biscoe            50.4           15.7              222.0
342  Gentoo     Biscoe            45.2           14.8              212.0
343  Gentoo     Biscoe            49.9           16.1              213.0

     body_mass_g     sex
0         3750.0    MALE
1         3800.0  FEMALE
2         3250.0  FEMALE
3            NaN     NaN
4         3450.0  FEMALE
..           ...     ...
339          NaN     NaN
340       4850.0  FEMALE
341       5750.0    MALE
342       5200.0  FEMALE
343       5400.0    MALE

[344 rows x 7 columns]

In [14]:
data

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [15]:
data['species']

0      Adelie
1      Adelie
2      Adelie
3      Adelie
4      Adelie
        ...
339    Gentoo
340    Gentoo
341    Gentoo
342    Gentoo
343    Gentoo
Name: species, Length: 344, dtype: object

In [16]:
gentoo_data = data[data['species'] == 'Gentoo']
gentoo_data

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
220,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,FEMALE
221,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,MALE
222,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,FEMALE
223,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,MALE
224,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,MALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [17]:
gentoo_means = gentoo_data.mean(numeric_only=True)
gentoo_means

bill_length_mm         47.504878
bill_depth_mm          14.982114
flipper_length_mm     217.186992
body_mass_g          5076.016260
dtype: float64

In [18]:
grafica=px.scatter(data,'bill_depth_mm','flipper_length_mm','species',)

/home/diegochew/.local/lib/python3.10/site-packages/plotly/express/_core.py:2065: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sf: grouped.get_group(s if len(s) > 1 else s[0])

# Listas

Una lista es un elemento que contiene múltiples valores separados por comas. 

## append

Una función común es el append, que agrega un elemento al final de una lista.

In [19]:
lista_ejemplo = ['a','b','c']
print(lista_ejemplo)

lista_ejemplo.append('d')
print(lista_ejemplo)

['a', 'b', 'c']
['a', 'b', 'c', 'd']

In [20]:
st.title('Test Streamlit')
st.write('Hello world')
st.markdown('# Titulo\n## Otra cosa\nSolo texto')
st.plotly_chart(grafica)

2024-02-15 07:40:00.359
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /home/diegochew/.local/lib/python3.10/site-packages/ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator()